#root {
  max-width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: lavenderblush;
  /* background-color: #e53131; */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.type-filter,
#pokedex-container {
  max-width: 80%;
  margin: auto;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(197, 197, 197);
  border-radius: 18px;
  padding: 12px;
}

.type-pill {
  width: 80px;
  margin: 6px;
  padding: 6px;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 18px;
  color: white;
}

.normal {
  background-color: #b8b08d;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6790f0;
}
.grass {
  background-color: #78c580;
}
.electric {
  background-color: #f8d031;
}
.ice {
  background-color: #a1d2d0;
}
.fighting {
  background-color: #c03128;
}
.poison {
  background-color: #a040a0;
}
.ground {
  background-color: #e0c068;
}
.flying {
  background-color: #b69fec;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a7bd5b;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #8d7b9c;
}
.dragon {
  background-color: #8574f8;
}
.dark {
  background-color: #8d7b6f;
}
.steel {
  background-color: #b9b9cc;
}
.fairy {
  background-color: #e3afc3;
}

.pokedex-entry {
  width: 220px;
  max-height: 320px;
  margin: 6px;
  padding: 6px;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 18px;
}

img {
  width: 200px;
  margin-bottom: 6px;
  border-radius: 18px;
}
